
<section class="cd-horizontal-timeline loaded">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                  {% for release in releases %}
                    <li><a href="#0" data-release-number="{{loop.index0}}" data-date="{{release.date}}" class="release-button {%if loop.first %}selected{% endif %}">{{loop.index0}} <!--<span>{{release.tag[0]}}</span><span>{{release.date}}</span>--></a></li>
                  {% endfor %}
                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->
            
        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->
</section>